<h2 mat-dialog-title>Crear Servicio</h2>
<mat-dialog-content [formGroup]="serviceForm">

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Nombre del Servicio</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Valor por hora (USD)</mat-label>
    <input matInput type="number" formControlName="hourlyRate" required />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Países</mat-label>
    <mat-select formControlName="countries" multiple>
      <mat-option *ngFor="let country of countries" [value]="country.countryId">
        {{ country.isoCode }} - {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>